::root {
	--background-color: #fffffe;
	--headline: #00214d;
	--paragraph: #1b2d45;
	--button: #00ebc7;
	--button-text: #00214d;

	--stroke: #00214d;
	--main: #fffffe;
	--highlight: #00ebc7;
	--secondary: #ff5470;
	--tertiary: #fde24f;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
